In [1]:
import pandas as pd
from datetime import datetime

In [2]:
strava_daily_df = pd.read_csv('strava_runs_2018.csv')

In [3]:
strava_daily_df.head()

,date,miles,cumulative_miles,daily_miles,cumulative_daily_miles,daily_miles_difference,daily_miles_cumulative_difference
0,2018-01-01 00:00:00+00:00,3.460913,3.460913,2.857143,2.857143,1.211320,1.211320
1,2018-01-02 00:00:00+00:00,3.588108,7.049021,2.857143,5.714286,1.255838,1.233579
2,2018-01-03 00:00:00+00:00,3.074358,10.123379,2.857143,8.571429,1.076025,1.181061
3,2018-01-04 00:00:00+00:00,0.464661,10.588041,2.857143,11.428571,0.162631,0.926454
4,2018-01-05 00:00:00+00:00,3.509318,14.097359,2.857143,14.285714,1.228261,0.986815

In [9]:
strava_daily_df['date'] = pd.to_datetime(strava_daily_df['date'])

In [10]:
strava_daily_df.index = strava_daily_df['date']

In [11]:
weekly_df = strava_daily_df.resample('W-MON', closed='Right', label='Right').sum()

In [13]:
weekly_df.tail()

,miles,cumulative_miles,daily_miles,cumulative_daily_miles,daily_miles_difference,daily_miles_cumulative_difference
date,,,,,,
2018-09-10,20.654876,2898.529339,20.000000,5120.0,7.229206,3.962709
2018-09-17,23.552640,3056.741442,20.000000,5260.0,8.243424,4.067714
2018-09-24,13.681351,3187.077716,20.000000,5400.0,4.788473,4.131359
2018-10-01,19.877975,3289.633789,20.000000,5540.0,6.957291,4.156462
2018-10-08,22.290387,2940.436103,17.142857,4860.0,7.801635,3.630104